<div class="container">
    <form (submit)="createSesh()">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-5">
                <div class="row form-group">
                    <div class="col text-center">
                        <input type="text"
                        class="form-control"
                        name="seshD.name"
                        [(ngModel)]="seshD.name"
                        placeholder="Sesh name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col text-center">
                        <input type="text"
                        class="form-control"
                        name="userD.username"
                        [(ngModel)]="userD.username"
                        placeholder="Username">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col text-center">
                        <button class="btn btn-success"
                        type="submit"
                        >Create Sesh</button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>