<!doctype html>
<html lang="en">

<head>
    <title>Sesh Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        $(document).ready(function() {
            var sesh = <%-JSON.stringify(sesh)%>;
            console.log(sesh);

            var socket = io();

            const player_token = 'BQCusKdwsxIQMhHSC2arFQ5AEVgN2ZQHL1G7Uf1hL6KgHysjOku0uSa4lgIKBVDL3-JJ0l77K0n9uteDRF5T4h2xvW1FWBPsupCecfp7z0vT48SgtVl0x8DfW8cfqzAWPBu58IpYGxy_HkWlxqTpOxs_R6qzFYM8u43gYMJpAFl2lZd5w1Fh3hVWUmCJ';
            const other_token = 'BQBB_yDsyDN14iteJ1XSr4ySQi5mZpoGHnD8F37SvdSTPZFMNALOZZB50RijvY5CXK6jGwdsY3u6LSkK2pxv_YsvQzNUJCo9Xj3dqJaHsr2Y6nG4VLSyd-1V6l4B6FN8FRA19si7MMrVlze4bQ2suQOMIttlc_pRSGcxoDolLqdiMIIsoO1JXu4EKZ59gcOod3JQRvEBaJfxHrHsa1uzFXVI7FQ-dG_7Wc396bW961cRAx4ueILAYFZSoitvult7GCRobG_4i8ya-jh69mUXkKLkkgczP_6S2ShSDh0';
            const device_id = '57ea062da0bf9dfa4c92adf32cc108d3923822b4';

            
            window.onSpotifyWebPlaybackSDKReady = () => {
                const player = new Spotify.Player({
                    name: sesh.name,
                    getOAuthToken: cb => { cb(player_token); }
                });

                $("#search-form").on('submit', function(event) {
                    event.preventDefault();
                    let data = $(this).serializeArray();
                    let query = data[0]['value'];
                    if (query != "") {
                        document.getElementById("collapsed-search").classList = "row my-4 collapse";
                        $.ajax({
                            type: 'POST',
                            url: '/db/v1/seshes/'+ sesh._id +'/searchSong',
                            data: {
                                query: query
                            },
                            success: function(data) {
                                document.getElementById("collapsed-result").classList = "row my-4 collapse show";
                                console.log(data['song']);
                                let uri = data['song']['uri'];
                                document.getElementById("song-result").innerHTML = data['song'];                                
                                fetchings(device_id, other_token, uri);
                            }
                        });
                    }
                });
                
                function fetchings(device_id, token, uri) {
                    var url = "https://api.spotify.com/v1/me/player/play?device_id="+ device_id;
                    console.log(url);
                    fetch(url, {
                        method: 'PUT',
                        body: JSON.stringify({
                            'context_uri': uri
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+ token
                        }
                    });
                };


                function getPlayerStatus(token) {
                    var url = "https://api.spotify/v1/me/player";
                    fetch(url, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+ token
                        }
                    }).then(function(data) {
                        console.log(data);
                    }).catch(function(message) {
                        console.log(message)
                    });
                }

                // Error handling
                player.addListener('initialization_error', ({ message }) => { console.error(message); });
                player.addListener('authentication_error', ({ message }) => { console.error(message); });
                player.addListener('account_error', ({ message }) => { console.error(message); });
                player.addListener('playback_error', ({ message }) => { console.error(message); });

                // Playback status updates
                player.addListener('player_state_changed', state => { console.log(state); });

                // Ready
                player.addListener('ready', ({ device_id }) => {
                    console.log('Ready with Device ID', device_id);
                    fetchings(device_id, other_token, 'spotify:album:5ht7ItJgpBH7W6vJ5BqpPr');
                    // getPlayerStatus(other_token);
                });

                // Not Ready
                player.addListener('not_ready', ({ device_id }) => {
                    console.log('Device ID has gone offline', device_id);
                });

                // Connect to the player!
                player.connect();
            };
        });
    </script>
</head>

<body>
    <header>
        <nav class="navbar bg-dark text-light py-3">
            <div class="col-md-3"></div>
            <div class="col text-center">
                <h2><%= sesh.name %></h2>
            </div>
            <div class="col-md-3"></div>
        </nav>
    </header>

    <main class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-warning"
                    id="searchBtn" data-toggle="collapse"
                    data-target="#collapsed-search"
                    >Search for Song</button>
                </div>
            </div>
            
            <div class="row collapse my-4" id="collapsed-search">
                <div class="col"></div>
                <div class="col-3 text-center form-group">
                    <form action="" id="search-form">
                        <input type="text" name="query" class="form-control my-2"
                        placeholder="Enter artist name or track title">
                        <button class="btn btn-success">Search</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>

            <div class="row collapse my-4" id="collapsed-result">
                <div class="col"></div>
                <div class="col-3 text-center form-group">
                    <section id="song-result"></section>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
</body>

</html>