.bgImg {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

#img1 {
    background-image: url('../images/watch-alone-1.jpeg');
}
#img2 {
    background-image: url('../images/watch-utube.jpg');
}
#img3 {
    background-image: url('../images/watch-utube-2.jpeg');
}
#img4 {
    background-image: url('../images/watch-utube-2g4.jpeg');
}

.biggie {
    height: 700px;
}